@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start: #D71717;
  --background-end: #F6B1F8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start: #420410;
    --background-end: #0F0235;
  }
}

body {
  background: var(--background-start);
  background: linear-gradient(90deg, var(--background-start) 0%, var(--background-end) 100%);
  background: -moz-linear-gradient(90deg, var(--background-start) 0%, var(--background-end) 100%);
  background: -webkit-linear-gradient(90deg, var(--background-start) 0%, var(--background-end) 100%);
}
